.dashboard-p2p-exchange {
  width: 587px;
  & .dashboard-card__title {
    padding-left: 32px;
  }
  & .dashboard-card__content {
    padding: 0 20px 24px 0;
  }
  &__headed {
    display: flex;
    flex-direction: column;
  }
  &__filters {
    position: absolute;
    top: 24px;
    left: 159px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &.en {
      left: 179px;
    }
    &__tabs {
      margin-left: 24px;
      display: flex;
      flex-direction: row;
    }
    &__tab {
      padding: 2px 12px;
      font-size: 12px;
      line-height: 24px;
      background: #F3F4F9;
      border-radius: 4px;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 16px;
      }
      &.active {
        color: $gray-1;
        background: $main;
      }
    }
  }
  &__column {
    padding-left: 24px;
  }
  &__scoreboard {
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__item {
      position: relative;
      padding-left: 24px;
      display: flex;
      flex-direction: column;
      &:first-child {
        padding-left: 32px;
      }
      &:not(:first-child) {
        &:before {
          content: "";
          position: absolute;
          text-align: center;
          top: 11px;
          left: 0;
          width: 1px;
          height: 32px;
          border-right: 1px solid $gray-5;
        }
      }
      &__header {
        display: flex;
        align-items: inherit;
        svg {
          cursor: pointer;
          width: 12px;
          height: 12px;
          path {
            fill: $gray-6;
          }
        }
      }
      &__title {
        margin-right: 4px;
        font-size: 14px;
        line-height: 22px;
        color: $gray-8;
      }
      &__content {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        &.green {
          color: $green-3;
        }
      }
    }
  }
}


@media screen and (max-width: $max-sm-media) {
  .dashboard-p2p-exchange {
    width: 100%;
    & .dashboard-card__title {
      padding-left: 16px;
    }
    & .dashboard-card__content {
      display: flex;
      flex-direction: column-reverse;
      padding: 0;
    }
    &__filters {
      position: relative;
      top: auto;
      left: auto;
      margin: 16px 16px 8px 16px;
      &.en {
        left: auto;
      }
      &__tabs {
        margin-left: 0;
      }
    }
    &__column {
      padding-left: 0;
    }
    &__scoreboard {
      width: auto;
      margin: 16px;
      margin-top: 0;
      flex-direction: column;
      &__item {
        &:first-child {
          padding-left: 0;
        }
        &:not(:first-child) {
          border-top: 1px solid $gray-3;
          &:before {
            content: none;
          }
        }
        width: 100%;
        padding: 8px 0 6px 0;
        flex-direction: row;
        justify-content: space-between;
        &__content {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: $sub-sm-media) {
  .dashboard-p2p-exchange {
    &__filters {
      &__tab {
        &:not(:last-child) {
          margin-right: auto;
        }
      }
    }
  }
}